//  ----------------
//  layout : generic
//  ----------------

    @keyframes colourBg {
      0%   { background-color: #11644D }
      25%  { background-color: #A0B046 }
      50%  { background-color: #F2C94E }
      75%  { background-color: #F78145 }
      100% { background-color: #F24E4E }
    }

    * {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
    }

    :focus { outline: none }

    body {
      @include animation(infinite 60s colourBg alternate);
      
      overflow: hidden;
    }
