//  ----------------
//  layout : generic
//  ----------------

    @keyframes colourBg {
      0%   { background-color: $dark-green }
      25%  { background-color: $green }
      50%  { background-color: $yellow }
      75%  { background-color: $orange }
      100% { background-color: $red }
    }

    * {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
    }

    :focus { outline: none }

    body {
      @include animation(infinite 60s colourBg alternate);

      background-color: $body-bg;
      overflow: hidden;
    }
