//  -------------------------------
//  colours : variables : utilities
//  -------------------------------

//  base
    $white:  #f9f9f9 !default;
    $black:  #000000 !default;
    $purple: #7c54c1 !default;


//  text
    $light-text: $white;


//  sidebar
    $sidebar-bg: $white;


//  collapse
    $collapse-bg:         $white;
    $collapse-inverse-bg: $black;
    $collapse-text:       $black;


//  card
    $card-body-bg: $white;
