//  ------------------------------
//  font size : mixins : utilities
//  ------------------------------

    @mixin font-size ($n: 1, $rel-n: false) {
      $mul: null;

      @if not $rel-n {

        $mul: round($n * 4) / 4;

      } @else {

        $mul: $rel-n;

      }

      font-size:   $font-size-base * $n;
      line-height: gap($mul);
    }
